#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

{{- if .Values.extra.wsproxy }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "pulsar.fullname" . }}-{{ .Values.proxy.component }}-ws"
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "pulsar.name" . }}
    chart: {{ template "pulsar.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: {{ .Values.proxy.component }}
    cluster: {{ template "pulsar.fullname" . }}
data:
  {{- if .Values.proxy.disableZookeeperDiscovery }}
  brokerServiceUrl: "pulsar://{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}:6650"
  brokerServiceUrlTls: "pulsar+ssl://{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}:6651"
  serviceUrl: "http://{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}:8080"
  serviceUrlTls: "https://{{ template "pulsar.fullname" . }}-{{ .Values.broker.component }}:8443"
  {{- end }}
  zookeeperServers:
    {{- if and .Values.enableTls .Values.tls.zookeeper.enabled }}
    "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-ca:2281"
    {{- else }}
    "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-ca:2181"
    {{- end }}
  configurationStoreServers:
    {{- if and .Values.enableTls .Values.tls.zookeeper.enabled }}
    "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-ca:2281"
    {{- else }}
    "{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}-ca:2181"
    {{- end }}
  clusterName: {{ template "pulsar.fullname" . }}
  webServicePort: "{{ .Values.proxy.wsProxyPort }}"
  {{- if .Values.enableTokenAuth }}
  brokerClientAuthenticationPlugin: "org.apache.pulsar.client.impl.auth.AuthenticationToken"
  brokerClientAuthenticationParameters: "file:///pulsar/token-websocket/websocket.jwt"
  authenticationEnabled: "true"
  authenticationProviders: "org.apache.pulsar.broker.authentication.AuthenticationProviderToken,org.apache.pulsar.broker.authentication.AuthenticationProviderTls"
  tokenPublicKey: "file:///pulsar/token-public-key/{{ .Values.tokenPublicKeyFile }}"
  authorizationEnabled: "true"
  superUserRoles: "{{ .Values.superUserRoles }}" 
  {{- end }}
{{- if and .Values.enableTls .Values.tls.websocket.enabled }}
  webServicePortTls: "{{ .Values.proxy.wsProxyPortTls }}"
  tlsEnabled: "true"
  brokerClientTlsEnabled: "true"
  tlsCertificateFilePath: /pulsar/certs/tls.crt
  tlsKeyFilePath: /pulsar/tls-pk8.key
  {{- if .Values.secrets }}
  tlsTrustCertsFilePath: /pulsar/certs/ca.crt
  {{- else }}
  tlsTrustCertsFilePath: "{{ .Values.tlsCaPath }}/{{ .Values.tlsCaCert }}"
  {{- end }}
{{- end }}
{{ toYaml .Values.proxy.configData | indent 2 }}
  # Workaround for double-quoted values in old values files
  PULSAR_MEM: {{ .Values.proxy.configData.PULSAR_MEM }}
  PULSAR_GC: {{ .Values.proxy.configData.PULSAR_GC }}
{{- end }}
