version: 2.1
jobs:
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine
    steps:
      - checkout
      - run:
          command: |
            shellcheck -x tests/e2e-kind.sh
            shellcheck -x .circleci/install_tools.sh
            shellcheck -x .circleci/release.sh
  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:latest
    steps:
      - checkout
      - run:
          command: ct lint --config tests/ct.yaml

  install-charts:
    machine:
      image: ubuntu-2004:202107-02
    steps:
      - checkout
      - run:
          command: K8S_VERSION=<< parameters.k8s-version >> tests/e2e-kind.sh
          no_output_timeout: 1h

  release-charts:
    machine:
      image: ubuntu-2004:202107-02
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "be:85:00:e5:28:99:b3:79:68:ba:67:4d:a8:ea:3b:d6"
      - run:
          command: |
            echo "export GIT_REPO_URL=$CIRCLE_REPOSITORY_URL" >> $BASH_ENV
            echo "export GIT_USERNAME=$CIRCLE_PROJECT_USERNAME" >> $BASH_ENV
            .circleci/install_tools.sh
            .circleci/release.sh
workflows:
  version: 2
  untagged-build:
    jobs:
      - lint-scripts
      - lint-charts
      - install-charts:
          requires:
            - lint-scripts
            - lint-charts
          matrix:
            parameters:
              k8s-version: ["v1.18.20", "v1.21.10", "v1.23.5"]
  release:
    jobs:
      - release-charts:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: release
