#
#  Copyright 2021 DataStax, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#
#

persistence: false
enableTests: true

enableAntiAffinity: false
enableTls: false
enableTokenAuth: false
restartOnConfigMapChange:
  enabled: true
extra:
  autoRecovery: false
  function: true
  burnell: true
  pulsarHeartbeat: true
  pulsarAdminConsole: true

# After https://github.com/apache/pulsar/pull/9413 Pulsar seems to load
# all connector classes to memory. This causes OOM at OS level (error code 143)
# Mitigate the issue by using a container image without the connectors.
image:
  function:
    repository: datastax/lunastreaming


autoRecovery:
  enableProvisionContainer: true

zookeeper:
  replicaCount: 1
  resources:
    requests:
      memory: 300Mi
      cpu: 100m
  configData:
    PULSAR_MEM: "\"-Xms64m -Xmx128m -Djute.maxbuffer=10485760 -XX:+ExitOnOutOfMemoryError\""

bookkeeper:
  replicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 100m
  configData:
    BOOKIE_MEM: "-Xms64m -Xmx256m -XX:MaxDirectMemorySize=256m -XX:+ExitOnOutOfMemoryError"
    BOOKIE_GC: "-XX:+UseG1GC -XX:MaxGCPauseMillis=10"
    diskUsageThreshold: "0.99"

broker:
  component: broker
  replicaCount: 1
  ledger:
    defaultEnsembleSize: 1
    defaultAckQuorum: 1
    defaultWriteQuorum: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 100m
  configData:
    PULSAR_MEM: "-Xms64m -Xmx256m -XX:MaxDirectMemorySize=256m -XX:+ExitOnOutOfMemoryError"

function:
  replicaCount: 1
  functionReplicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 100m
  configData:
    PULSAR_MEM: "-Xms64m -Xmx256m -XX:MaxDirectMemorySize=256m -Dio.netty.leakDetectionLevel=disabled -Dio.netty.recycler.linkCapacity=1024 -XX:+ParallelRefProcEnabled -XX:+DisableExplicitGC -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem"

proxy:
  replicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 100m
  wsResources:
    requests:
      memory: 400Mi
      cpu: 100m
  configData:
    PULSAR_MEM: "\"-Xms64m -Xmx64m -XX:MaxDirectMemorySize=64m\""
  autoPortAssign:
    enablePlainTextWithTLS: true
  service:
    autoPortAssign:
      enabled: true

grafanaDashboards:
  enabled: false

pulsarAdminConsole:
  replicaCount: 1

kube-prometheus-stack:
  enabled: false
  prometheusOperator:
    enabled: false
  grafana:
    enabled: false
