
persistence: no
enableTests: yes
extra:
  autoRecovery: no
  bastion: yes
  pulsarMonitor: yes
  burnell: yes
  pulsarHealer: yes

autoRecovery:
  enableProvisionContainer: yes

image:
  broker:
    repository: datastax/pulsar
  pulsarMonitor:
    repository: datastax/pulsar-monitor
    pullPolicy: IfNotPresent
    tag: latest
  burnell:
    repository: datastax/burnell
    pullPolicy: IfNotPresent
    tag: latest

zookeeper:
  replicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 0.3 
  configData:
    PULSAR_MEM: "\"-Xms256m -Xmx400m -Djute.maxbuffer=10485760 -Dzookeeper.forceSync=no\""

bookkeeper:
  replicaCount: 2
  resources:
    requests:
      memory: 400Mi
      cpu: 0.3 
  configData:
    BOOKIE_MEM: "\"-Xms512m -Xmx512m -XX:MaxDirectMemorySize=512m -XX:+ExitOnOutOfMemoryError\""
    BOOKIE_GC: "\"-XX:+UseG1GC -XX:MaxGCPauseMillis=10\""


broker:
  component: broker
  replicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 0.3 
  configData:
    PULSAR_MEM: "\"-Xms256m -Xmx400m -XX:MaxDirectMemorySize=400m -XX:+ExitOnOutOfMemoryError\""

function:
  replicaCount: 1
  resources:
    requests:
      memory: 400Mi
      cpu: 0.3 
  configData:
    PULSAR_MEM: "\"-Xms256m -Xmx400m -XX:MaxDirectMemorySize=400m -Dio.netty.leakDetectionLevel=disabled -Dio.netty.recycler.linkCapacity=1024 -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:+AggressiveOpts -XX:+DoEscapeAnalysis -XX:ParallelGCThreads=32 -XX:ConcGCThreads=32 -XX:G1NewSizePercent=50 -XX:+DisableExplicitGC -XX:-ResizePLAB -XX:+ExitOnOutOfMemoryError -XX:+PerfDisableSharedMem\""

proxy:
  replicaCount: 1 
  resources:
    requests:
      memory: 400Mi
      cpu: 0.3 
  wsResources:
    requests:
      memory: 400Mi
      cpu: 0.3
  configData:
    PULSAR_MEM: "\"-Xms256m -Xmx400m -XX:MaxDirectMemorySize=400m\""

burnell:
  federatedPromUrl:

pulsarMonitor:
  component: pulsarmonitor
  port: "8089"
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8089"
    prometheus.io/path: "/metrics"
  resources:
    requests:
      memory: 64Mi
      cpu: 0.1
  prometheus:
    enabled: true
  config:
    k8sInClusterMonitorEnabled: "false"
  
